:root {
  --background: #ffffff;
  --foreground: #171717;
  --text-color: #ededed;

  --component-color: #c4c4c4;
  --card-color: #ffffff30;
  --smooth-background-color: #cccccc50;
  
  --mini-text-color: #000000
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --text-color: #ededed;
    
    --component-color: #272727;
    --card-color: #27272790;
    --smooth-background-color: #111111;

    --mini-text-color: #ededed40
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--text-color);
  background: var(--background);
  
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  z-index: 0;

  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*::-webkit-scrollbar {
  width: 0.75em;
}

*::-webkit-scrollbar-track {
  border-radius: 10px;
  
  background: var(--smooth-background-color);
}

*::-webkit-scrollbar-thumb {
  border-radius: 10px;

  background-color: var(--background);
  border: 2px solid var(--mini-text-color);
}

a {
  color: inherit;
  text-decoration: none;
}

span,
a,
p,
button {
  font-size: 16px;
}

button {
  cursor: pointer;
  border: 0;
  background-color: inherit;
}

input,
textarea {
  border: 0;

  padding: 0.25em 0.5em;
  border-radius: 0.25em 0.5em;
  
  width: 10em;

  max-width: 30em;
  min-width: 10em;
}

textarea {
  width: 10em;
  
  max-width: 30em;
  max-height: 10em;
  min-height: 3em;
  min-width: 10em;
}

#page {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
}

footer,
header {
  z-index: 1;
  position: fixed;

  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;

  justify-content: space-between;
  align-items: center;

  padding: 0.75em 2em;

  height: 120px;
  width: 100%;

  background: #00000080;
}

header {
  top: 0;

  -webkit-box-shadow: 0 10px 100px 0 rgba(0, 0, 0, 0.9);
  -moz-box-shadow: 0 10px 100px 0 rgba(0, 0, 0, 0.9);
  box-shadow: 0 10px 100px 0 rgba(0, 0, 0, 0.9);

  border-radius: 0 0 20px 20px;
}

#logo {
  position: relative;
  display: flex;
  flex-direction: column;
}

.links {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;

  gap: 10px;
}

footer {
  bottom: 0;

  -webkit-box-shadow: 0 -50px 100px 0 rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 -50px 100px 0 rgba(0, 0, 0, 0.75);
  box-shadow: 0 -50px 100px 0 rgba(0, 0, 0, 0.75);

  border-radius: 20px 20px 0 0;
}

main {
  z-index: 0;

  position: absolute;

  width: 100%;

  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  padding: 0.75em 2em;

  margin: 120px 0;
  height: calc(100% - 240px);
}

.background {
  z-index: 0;

  position: fixed;
  background-size: cover;
  background-image: url("/background.png");
}

.human-container {
  position: fixed;
  display: flex;

  align-items: center;

  height: 100%;
  width: 100%;
}

.human {
  z-index: 5;

  --animation-start-top: -2em;

  position: relative;

  height: 40em;
  width: 25em;

  top: var(--animation-start-top);

  animation: 3s ease-in-out infinite forwards;
  animation-name: human-levitation;
}

.page-center {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  height: 100%;
}

@keyframes human-levitation {
  0% {
    top: var(--animation-start-top);
  }

  50% {
    top: 2em;
  }

  100% {
    top: var(--animation-start-top);
  }
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@media screen and (width < 768px) {
  footer {
    align-items: center;
    justify-content: center;
  }

  .human {
    display: none;
  }
}