#main {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;

  height: 100%;
}

#main div {
  width: 100%;

  display: flex;
  flex-direction: column;

  gap: 1em;

  align-items: center;
  justify-content: center;
}

#main div button {
  transition: 0.3s;

  background-color: var(--component-color);
  padding: 0.5em 1em;

  border-radius: 10px;
}

#main div button:hover {
  padding: 1em 1.5em;
}

#main div button:active {
  padding: 0.5em 1em;
}
