.container {
    display: flex;
    position: relative;

    margin: 0.5em 0.5em;
    padding: 0.25em 0.5em;

    align-items: center;
    justify-content: space-between;

    background-color: #121212;
    border-radius: 20px;
}

.buttons {
    display: flex;
    position: relative;
}

.icon {
    margin: 0 5px;
    cursor: pointer;
}

.name {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
    font-size: 12px;
}