.section,
.main,
.main div {
  transition: all 0.2s cubic-bezier(0.45, 0.0, 0.1, 0.53);

  z-index: 10;
  
  display: flex;
  position: absolute;
  
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 100%;
  width: 5em;
}

.main,
.main div {
  min-height: 20%;
  max-height: 80%;
  
  left: -3em;
  
  height: max-content;
}

.main div {
  margin: 0 0 0 2em;
  padding: 0.5em 1em;
  border-radius: 1em;

  gap: 10px;

  background-color: var(--component-color);
}

.main:hover div {
  left: 0;
}

.main div::after,
.main div::before {
  height: 1em;
  content: "";
}

.main div .icon {
  cursor: pointer;
}