.field {
    min-width: 0px;
    font-size: 0.875rem;
    line-height: 1.125rem;
    grid-column: 1 / 13;
}

.field_name {
    min-width: 0px;
    margin: 0px 0px 1px;
    font-size: 0.875rem;
    font-weight: 600;
    color: rgb(255, 255, 255);
}

.field_value {
    min-width: 0px;
}

#field_value_content {
    font-size: 0.875rem;
    line-height: 1.125rem;
    color: rgb(219, 222, 225);
    white-space: pre-line;
    overflow-wrap: anywhere;
    white-space: break-spaces;
}

#field_name_content {
    white-space: pre-wrap;
    overflow-wrap: break-word;
    line-height: 1.375;
    overflow-wrap: anywhere;
    white-space: break-spaces;
}