.container {
    display: flex;
    background-color: #121212;
    
    flex-direction: row; 

    margin: 10px;
    padding: 15px;
    
    border-radius: 20px;
}

#container_left {
    border-radius: 1em;
    background-color: #202225;
    width: 0.5em;
}

#container_right {
    display: flex;
    flex-direction: column;

    width: 100%;
    margin: 0 0.75em;

    background-color: #121212;
    border-radius: 20px;
}

.btn {
    background-color: #5865f2;
    border-radius: 15px;
    color: #fff;
    margin: 10px 0;
    padding: 1em 1.5em;
    border: 0;
    font-size: 12px;
    font-weight: 300;
    transition: 1s;
    cursor: pointer;
}

#cross {
    cursor: pointer;
}

.author_inner {
    background-color: #1d1d1d;
    border-radius: 10px;
    
    padding: 0.5em 0.75em;
    margin: 0.5em 0;

    display: flex;
    flex-direction: column;
}

.textarea {
    background-color: #121212;
    color: #fff;
    
    width: 100%;
    min-width: 40%;
    padding: 0.75em;
  
    resize: none;
    border-radius: 10px;
}

.textarea::-webkit-scrollbar {
    width: 12px;
    border-radius: 12px;
}
  
.textarea::-webkit-scrollbar-track {
    background: #121212;
    margin: 10px;
}
  
.textarea::-webkit-scrollbar-thumb {
    background-color: #424242;
    border-radius: 20px;
    border: 3px solid #121212;
}

.url {
    padding: 0.5em;
    height: 2.5em;
}

.textarea_main {
    background-color: #121212;
    color: #fff;
    
    padding: 0.5em;
  
    resize: vertical;
    border-radius: 10px;
}

#color_value {
    padding: 0.5em 2em;
    width: 4em;
    border-radius: 10px;
}

.color_container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
}

#input_body_color {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    width: 3em;
    height: 3em;
    margin: 0.25em 1em;
    border: none;
    cursor: pointer;
}

#input_body_color::-webkit-color-swatch {
    border-radius: 10px;
    border: 7px solid #00000000;
}

#input_body_color::-moz-color-swatch {
    border-radius: 10px;
    border: 7px solid #00000000;
}

#footer_time {
    background-color: #424242;
    padding: 15px;
    margin: 0.5em 0;
    font-size: 18px;
    color: #fff;
    
    border-radius: 5px;
    border: none;
    outline: none;
}

#footer_time::-webkit-calendar-picker-indicator {
    background-color: #fff;
    padding: 0.25em;
    border-radius: 0.5em;
    cursor: pointer;
}

.container_title {
    background-color: #424242;
    border: 1px solid #424242;
    border-radius: 10px;
    padding: 0.5em 0.75em;
    margin: 0.5em 0;
    display: flex;
    align-items: center;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#embed_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#inner_container,
#author_container,
#body_container,
#fields_container,
#images_container,
#footer_container {
    padding: 0.25em 0.5em;
    transition: 1s;
    display: none;
}

#embed_arrow,
#author_arrow,
#body_arrow,
#fields_arrow,
#images_arrow,
#footer_arrow {
    transition: 0.5s;
}

#footer_content,
#textarea_body_title,
#textarea_body_description,
#textarea_author_nickname {
    transition: 0s;
}

#footer_body_count,
#body_body_count,
#body_title_count,
#author_nickname_count {
    font-size: 12px;
    font-style: italic;
    color: #bbb;
}