.dropdown {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.dropdown .summary {
  cursor: pointer;
}

.dropdown .content {
  * {
    display: flex;
    padding: 0.5em 1em;
    text-decoration: none;
    color: var(--foreground);
  }

  display: none;

  min-width: 160px;
  height: fit-content;

  flex-direction: column;

  margin-top: 3em;
  padding: 0.25em 0.75em;
  
  background-color: var(--component-color);
  border-radius: 0.5em;
}