.container {
    display: flex;
    align-items: center;
    flex-direction: row;

    background: #121212;

    padding: 10px;
    margin: 20px;

    border-radius: 20px;
}

.avatar {
    margin: 10px;
    border-radius: 50%;
}

.name {
    margin: 10px;
}